#가상환경
.vscode
#환경변수
.env
#파이썬
__pycache__/
*.splite3
*.db
*.__pycache__

credit.csv

*.zip

*.txt

part4/credit.csv
part7/San-Francisco-Crime .csv
part7/extracted_files/open/external_open/countrywide_accident.csv
deep-learning/1027.review.ipynb
deep-learning/bostonRegression.pth
deep-learning/model9.ipynb
deep-learning/model9.ipynb
deep-learning/model13.ipynb
deep-learning/model13.ipynb
pandas-data-analysis/part7/data/python
deep-learning/model9.ipynb
deep-learning/model9.ipynb
deep-learning/model13.ipynb
# data & model artifacts
*.pth
*.tar.gz
*.zip
*.7z
*.rar
*.csv
data/
datasets/
pandas-data-analysis/part7/
deep-learning/CIFAR*
deep-learning/CIFAR.pth
deep-learning/cifar-10-python.tar.gz
deep-learning/,/cifar-10-python.tar.gz
pandas-data-analysis/part4/credit.csv
pandas-data-analysis/part7/extracted_files/open/external_open/countrywide_accident.csv
pandas-data-analysis/part7/San-Francisco-Crime .csv
pandas-data-analysis/part7/data/San-Francisco-Crime .csv
# === virtual envs (절대 올리지 않음) ===
.venv/
venv/
env/
**/Lib/
**/Scripts/
**/Include/
**/site-packages/
**/pyvenv.cfg
python/python_crwaling_database/streamlit_prj/

# === 주피터/빌드 산출물 ===
.ipynb_checkpoints/
*.pyd
*.dll
*.exe
*.so
*.log

# === 데이터/모델(용량 큰 파일 방지) ===
*.pth
*.pt
*.tar
*.tar.gz
*.zip
*.7z
*.rar
*.csv
**/aclImdb_v1/
data/
datasets/
